body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #eee;
}

.card {
    font-family: sans-serif;
    width: 340px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
figure {
    margin: 0;
}

.card-image img{
    width: 340px;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.cat-image img {
    z-index: 1;
    width: 200px;
    height: auto;
    position: relative;
    margin-top: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 8px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
}

.cat-image img:hover{
    transform: scale(1.1);
}

.card-content h2{
    font-size: 20px;
    text-align: center;
}

.card-content p{
    font-size: 14px;
    text-align: justify;
    padding: 0 20px 5px 20px;
}


button {
    margin: 20px;
    padding: 5px;
    color: #00a6ff;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #00a6ff;
}

button:hover {
    color: #fff;
    background: #00a6ff;
    transition-duration: 1s;

}

/* There is no need for responsiveness as the card size will fit just fine in a mobile screen
If need be, below is the code
@media only screen and (min-width: 600px) {

}
*/